langchain
python-dotenv
tiktoken
faiss-cpu
protobuf
requests
pypdf
InstructorEmbedding
sentence-transformers
streamlit
streamlit_lottie
frontend
tools
docx2txt
fitz
huggingface_hub
llama-parse
nest-asyncio
llama_index_core
langsmith
